## Connect to BigQuery

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Myrto.Setzi/Documents/Ironhack/code_alongs/ironhack_service_account_big_query.json"

In [2]:
import six
six.moves.reload_module(six)

In [3]:
from google.cloud import bigquery

In [4]:
client = bigquery.Client()

## Create a table

In [5]:
sql='''
CREATE TABLE car_dealership.authors_2(
  au_id STRING NOT NULL,
  au_lname STRING NOT NULL,
  au_fname STRING NOT NULL,
  phone STRING NOT NULL,
  address STRING,
  city STRING,
  state STRING,
  zip STRING,
  contract NUMERIC)
'''

In [6]:
query_job = client.query(query=sql)

## See the schema information

Use information schema info:
https://cloud.google.com/bigquery/docs/information-schema-tables#columns_view

In [7]:
sql='''
SELECT column_name, data_type
FROM `ironhack-data-analytics-265219.car_dealership.INFORMATION_SCHEMA.COLUMNS` 
WHERE table_name = 'authors_2'
'''

In [8]:
query_job = client.query(query=sql)

In [9]:
query_job.to_dataframe()

  column_name data_type
0       au_id    STRING
1    au_lname    STRING
2    au_fname    STRING
3       phone    STRING
4     address    STRING
5        city    STRING
6       state    STRING
7         zip    STRING
8    contract   NUMERIC

## Insert values into a table

__Sample data:__ ('172-32-1176','White','Johnson','408 496-7223','10932 Bigge Rd.','Menlo Park','CA','94025',1),('213-46-8915','Green','Marjorie','415 986-7020','309 63rd St. #411','Oakland','CA','94618',1),('238-95-7766','Carson','Cheryl','415 548-7723','589 Darwin Ln.','Berkeley','CA','94705',1),('267-41-2394','Leary','Michael','408 286-2428','22 Cleveland Av. #14','San Jose','CA','95128',1),('274-80-9391','Straight','Dean','415 834-2919','5420 College Av.','Oakland','CA','94609',1),('341-22-1782','Smith','Meander','913 843-0462','10 Mississippi Dr.','Lawrence','KS','66044',0),('409-56-7008','Bennet','Abraham','415 658-9932','6223 Bateman St.','Berkeley','CA','94705',1),('427-17-2319','Dull','Ann','415 836-7128','3410 Blonde St.','Palo Alto','CA','94301',1),('472-27-2349','Gringlesby','Burt','707 938-6445','PO Box 792','Covelo','CA','95428',1),('486-29-1786','Locksley','Charlene','415 585-4620','18 Broadway Av.','San Francisco','CA','94130',1),('527-72-3246','Greene','Morningstar','615 297-2723','22 Graybar House Rd.','Nashville','TN','37215',0),('648-92-1872','Blotchet-Halls','Reginald','503 745-6402','55 Hillsdale Bl.','Corvallis','OR','97330',1),('672-71-3249','Yokomoto','Akiko','415 935-4228','3 Silver Ct.','Walnut Creek','CA','94595',1),('712-45-1867','del Castillo','Innes','615 996-8275','2286 Cram Pl. #86','Ann Arbor','MI','48105',1),('722-51-5454','DeFrance','Michel','219 547-9982','3 Balding Pl.','Gary','IN','46403',1),('724-08-9931','Stringer','Dirk','415 843-2991','5420 Telegraph Av.','Oakland','CA','94609',0),('724-80-9391','MacFeather','Stearns','415 354-7128','44 Upland Hts.','Oakland','CA','94612',1),('756-30-7391','Karsen','Livia','415 534-9219','5720 McAuley St.','Oakland','CA','94609',1),('807-91-6654','Panteley','Sylvia','301 946-8853','1956 Arlington Pl.','Rockville','MD','20853',1),('846-92-7186','Hunter','Sheryl','415 836-7128','3410 Blonde St.','Palo Alto','CA','94301',1),('893-72-1158','McBadden','Heather','707 448-4982','301 Putnam','Vacaville','CA','95688',0),('899-46-2035','Ringer','Anne','801 826-0752','67 Seventh Av.','Salt Lake City','UT','84152',1),('998-72-3567','Ringer','Albert','801 826-0752','67 Seventh Av.','Salt Lake City','UT','84152',1)

In [6]:
sql_2='''INSERT INTO `ironhack-data-analytics-265219.car_dealership.authors_2` VALUES ('172-32-1176','White','Johnson','408 496-7223','10932 Bigge Rd.','Menlo Park','CA','94025',1),('213-46-8915','Green','Marjorie','415 986-7020','309 63rd St. #411','Oakland','CA','94618',1),('238-95-7766','Carson','Cheryl','415 548-7723','589 Darwin Ln.','Berkeley','CA','94705',1),('267-41-2394','Leary','Michael','408 286-2428','22 Cleveland Av. #14','San Jose','CA','95128',1),('274-80-9391','Straight','Dean','415 834-2919','5420 College Av.','Oakland','CA','94609',1),('341-22-1782','Smith','Meander','913 843-0462','10 Mississippi Dr.','Lawrence','KS','66044',0),('409-56-7008','Bennet','Abraham','415 658-9932','6223 Bateman St.','Berkeley','CA','94705',1),('427-17-2319','Dull','Ann','415 836-7128','3410 Blonde St.','Palo Alto','CA','94301',1),('472-27-2349','Gringlesby','Burt','707 938-6445','PO Box 792','Covelo','CA','95428',1),('486-29-1786','Locksley','Charlene','415 585-4620','18 Broadway Av.','San Francisco','CA','94130',1),('527-72-3246','Greene','Morningstar','615 297-2723','22 Graybar House Rd.','Nashville','TN','37215',0),('648-92-1872','Blotchet-Halls','Reginald','503 745-6402','55 Hillsdale Bl.','Corvallis','OR','97330',1),('672-71-3249','Yokomoto','Akiko','415 935-4228','3 Silver Ct.','Walnut Creek','CA','94595',1),('712-45-1867','del Castillo','Innes','615 996-8275','2286 Cram Pl. #86','Ann Arbor','MI','48105',1),('722-51-5454','DeFrance','Michel','219 547-9982','3 Balding Pl.','Gary','IN','46403',1),('724-08-9931','Stringer','Dirk','415 843-2991','5420 Telegraph Av.','Oakland','CA','94609',0),('724-80-9391','MacFeather','Stearns','415 354-7128','44 Upland Hts.','Oakland','CA','94612',1),('756-30-7391','Karsen','Livia','415 534-9219','5720 McAuley St.','Oakland','CA','94609',1),('807-91-6654','Panteley','Sylvia','301 946-8853','1956 Arlington Pl.','Rockville','MD','20853',1),('846-92-7186','Hunter','Sheryl','415 836-7128','3410 Blonde St.','Palo Alto','CA','94301',1),('893-72-1158','McBadden','Heather','707 448-4982','301 Putnam','Vacaville','CA','95688',0),('899-46-2035','Ringer','Anne','801 826-0752','67 Seventh Av.','Salt Lake City','UT','84152',1),('998-72-3567','Ringer','Albert','801 826-0752','67 Seventh Av.','Salt Lake City','UT','84152',1);
'''

In [7]:
query_job = client.query(query=sql_2)

In [8]:
query_job.result()

## Examples of a query

Find the most popular Citi Bike destinations using the public dataset:`bigquery-public-data.new_york.citibike_trips`

In [8]:
query='''
SELECT
 end_station_name,
 end_station_longitude,
 end_station_latitude,
 COUNT(*) AS total_trips
FROM 
    `bigquery-public-data.new_york.citibike_trips`
GROUP BY
     end_station_name,
     end_station_longitude,
     end_station_latitude
ORDER BY 
    total_trips DESC
'''

In [9]:
query_job = client.query(query=query)
df=query_job.to_dataframe()
df

,end_station_name,end_station_longitude,end_station_latitude,total_trips
0,E 17 St & Broadway,-73.990093,40.737050,307500
1,W 21 St & 6 Ave,-73.994156,40.741740,277831
2,Lafayette St & E 8 St,-73.990765,40.730287,275154
3,West St & Chambers St,-74.013221,40.717548,266036
4,Broadway & E 14 St,-73.990741,40.734546,243596
...,...,...,...,...
732,Liberty Light Rail,-74.055701,40.711242,1
733,SSP - Basement,0.000000,0.000000,1
734,Christ Hospital,-74.050444,40.734786,1
735,Heights Elevator,-74.040313,40.748536,1
736,Riverview Park,-74.043991,40.744319,1

Find the 5 destinations with the maximum duration for women

In [11]:
query_2='''
SELECT
     end_station_name, 
     max(tripduration)  AS max_duration
FROM 
    `bigquery-public-data.new_york.citibike_trips`
WHERE
    gender='female'
GROUP BY
    end_station_name
ORDER BY
    max_duration DESC
LIMIT 5
'''

In [12]:
query_job = client.query(query=query_2)
df_2=query_job.to_dataframe()
df_2

                   end_station_name  max_duration
0                 NYCBS Depot - SSP       5864661
1                 NYCBS Depot - DEL       3139345
2                 NYCBS Depot - PIT       2697582
3  Queens Plaza North & Crescent St       2298394
4              Division St & Bowery       2258170